:root  {
    --blue: #271db6;
    --green: #235f06;
    --brown: #b95a46;
    --light: #78cf30;
    --dark: #1c310b;
  }
  
*
{background-color: var(--light);
}
    body {
      background-color: (var(--green));
      grid-template: max-content;

    }

    #nav
    a:link    { color: blue; }
    a:visited { color: purple; }
    a:hover   { color: red; }
    a:focus   { outline: 1px solid blue; }
    a:active  { color: yellow ;}
    }
    

h1 {background-color: var(--brown);
      color: (var(--dark));
      text-decoration: underline;;
      font-size: larger;
      font-style: italic;
    }

.h2{color: #235f06;
}

h3 p {
      color: (var(--light));
    }

    p li {
      background-color: var(--brown);
      color: var(--green);
      font-size: 24px;
      font-family: cursive;
    
    
    }
footer{
  justify-content: end;
  height: 100px;
  width: 100px;
}

  

  
